/UF5/NetbeansProjects/Coleccions/nbproject/private/
/M3_UF5_Collections_Exemples/M3_UF5_Collections_Exemples/nbproject/private/
/UF5/NetbeansProjects/M3_UF5_Collections_Exemples/M3_UF5_Collections_Exemples/nbproject/private/
/UF5/NetbeansProjects/M3_UF5_Collections_Exemples/nbproject/private/
/UF5/NetbeansProjects/Coleccions/build/