/UF5/NetbeansProjects/Coleccions/nbproject/private/
/M3_UF5_Collections_Exemples/M3_UF5_Collections_Exemples/nbproject/private/
/UF5/NetbeansProjects/M3_UF5_Collections_Exemples/M3_UF5_Collections_Exemples/nbproject/private/
/UF5/NetbeansProjects/M3_UF5_Collections_Exemples/nbproject/private/
/UF5/NetbeansProjects/Coleccions/build/
/UF5/NetbeansProjects/JavaApplication3/nbproject/private/
/UF5/NetbeansProjects/JavaApplication3/build/
/UF5/NetbeansProjects/Serialitzacio/nbproject/private/
/UF5/NetbeansProjects/M3_UF5_IO_Exemple/nbproject/private/
/UF5/NetbeansProjects/M3_UF5_IO_Exemple/build/
/UF5/NetbeansProjects/Serialitzacio/build/
/UF5/NetbeansProjects/JavaApplication1/nbproject/private/
/UF5/NetbeansProjects/JavaApplication1/build/
/UF5/NetbeansProjects/GUI/nbproject/private/
/UF5/NetbeansProjects/GUI/build/
/UF5/NetbeansProjects/UF5_VillarColomerMarc_Pt1/nbproject/private/
/UF5/NetbeansProjects/UF5_VillarColomerMarc_Pt1/build/